@import './media';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #43464b;
    --color-secondary: #967259;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey1: #dbe1e8;
    --color-grey2: #b2becd;
    --color-grey3: #6c7983;
    --color-grey4: #6c7983;
    --color-grey5: #383b3e;
    --color-grey6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2);
}

body{
    background-color: var(--color-primary);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 8rem;
}

.section{
    transform: translateY(-100%);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
}

.active{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateX(-100%) scaleX(0)
        }
        100%{
            transform: translateX(0) scaleX(1)
        }
    }
}

//Controls
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all .4s ease-in-out;
        i{
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        transition: all .4s ease-in-out;
        i{
            font-size: 1.3rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
        &:hover{
            cursor: pointer;
            transform: translateY(-5px);
            border: 2px solid #c19e78;
            background-color: #c19e78;
            box-shadow: 1px 4px 15px rgba(0,0,0,.32);
        }
    }
}


// Header Content
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4s ease-in-out;
            width: 85%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left:0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
    }
    .image{
        border-radius: var(--br-sm-2);
        height: 90%;
        width: 68%;
        margin-left: 4rem;
        background-color: var(--color-black);
        transition: all .4s ease-in-out;
        img{
            --s: 8px; /* control the size */
            padding: var(--s);
            border: calc(2*var(--s)) solid #0000;
            outline: 1px solid #000000;
            outline-offset: calc(-1*var(--s));
            background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000000 0);
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .4s ease-in-out;
            // filter: grayscale(100%);
            &:hover{
                filter:contrast(80%);
            }
        }
    }
    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 15rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .name{
            font-weight: 700;
            text-align: left;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            font-size: 2.5rem;
            span{
                color: #c5a582;
            }
        }
        h2{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 2.25rem;
            span{
                color: #fffe7a;
            }
        }
        p{
            font-size: 1.25rem;
            margin: 1rem 0;
            line-height: 1.75rem;
        }
        .header-links{
            .contact-icons{
            .contact-icon{
                display: flex;
                margin-top: 1rem;
                margin-bottom: 1rem;
                a{
                    display: flex;
                    align-items: center;
                    color: var(--color-white);
                    background-color: var(--color-grey-5);
                    cursor: pointer;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 0 .4rem;
                    transition: all .4s ease-in-out;
                    &:hover{
                        background-color: var(--color-secondary);
                        i{
                            color: var(--color-black);
                        }
                    }
                    i{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        }
    }
}

// About
.about-subtitle{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container2{
    width: 100%;
    padding: 20px 10%;
    .row5{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        .column2{
            padding-top: 20px;
            padding-bottom: 30px;
            .title5{
                font-size: 3rem;
                color: #c19e78;
                padding: 0px 0px 20px 30px;
            }
            .contents2{
                padding: 0px 30px;
                border-left: 2px solid var(--color-secondary);
                .box::before{
                    content:'';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    right: calc(100% + 22px);
                    top: 0;
                    background-color: var(--color-secondary);
                    border: 2px solid var(--color-secondary);
                }
                .box{
                    position: relative;
                    padding: 20px;
                    border: 1px solid var(--color-secondary);
                    background-color: var(--color-primary);
                    cursor: pointer;
                    transition: all 0.4s;
                    margin-bottom: 10px;
                    .duration{
                        padding-bottom: 10px;
                    } 
                    .degree-position{
                        padding-bottom: 10px;
                        color: #795d4a;
                    } 
                    .university-location{
                        padding-bottom: 10px;
                    }
                    .comments-description{
                        padding-top: 10px;
                        p{
                            padding-top: 2px;
                            padding-bottom: 2px;
                        }
                    }
                    &:hover{
                        cursor: pointer;
                        transform: translateY(-10px);
                        border: 2px solid #aa8a67;
                        background-color: #aa8a67;
                        box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                    }
                }
            }
        }
    }
}

//Skills
.about-skills{
    padding-top: 1rem;
    padding-bottom: 1rem;
    .main-title2{
        padding-bottom: 2.5rem;
        text-align: center;
        h2{
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            span{
                color: #c19e78;
            }
            .bg-text{
                position: absolute;
                top: 50%;
                left: 50%;
                color: var(--color-grey5);
                transition: all .4s ease-in-out;
                z-index: -1;
                transform: translate(-50%, -50%);
                font-weight: 800px;
                font-size: 6.5rem;
            }
        }
    }
    .skills-subtitle{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .about-skills2{
        display: inline-block;
        text-align: center;
        .first-row{
            display: inline-block;
            padding: 3rem;
            .element-html{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #dd4b24;
                    background-color: #dd4b24;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-css{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #0068ba;
                    background-color: #0068ba;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-sass{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #cd669a;
                    background-color: #cd669a;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-bootstrap{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #563d7c;
                    background-color: #563d7c;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-javascript{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #f2bf22;
                    background-color: #f2bf22;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-git{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #de4c36;
                    background-color: #de4c36;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
        }
        .second-row{
            display: inline-block;
            padding: 3rem;
            .element-expressjs{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #000000;
                    background-color: #000000;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-mongodb{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #589733;
                    background-color: #589733;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-reactjs{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #53c1de;
                    background-color: #53c1de;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-nodejs{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #41873f;
                    background-color: #41873f;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-postman{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #ff6c37;
                    background-color: #ff6c37;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-xml{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #cc8e18;
                    background-color: #cc8e18;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
        }
        .third-row{
            display: inline-block;
            padding: 3rem;
            .element-java{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #ea2a30;
                    background-color: #ea2a30;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-kotlin{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #c05c66;
                    background-color: #c05c66;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-springboot{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #6db33f;
                    background-color: #6db33f;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-mysql{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #00515e;
                    background-color: #00515e;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-postgresql{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #264c83;
                    background-color: #264c83;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-linux{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #2d2c2c;
                    background-color: #2d2c2c;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
        }
        .fourth-row{
            display: inline-block;
            padding: 3rem;
            .element-csharp{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #390091;
                    background-color: #390091;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-cpp{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #1163a5;
                    background-color: #1163a5;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-python{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #306998;
                    background-color: #306998;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-aws{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #ff9a00;
                    background-color: #ff9a00;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-dsa{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #1b323e;
                    background-color: #1b323e;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
            .element-nw{
                border: 1px solid var(--color-grey5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    border: 2px solid #1e2f43;
                    background-color: #1e2f43;
                    box-shadow: 1px 4px 15px rgba(0,0,0,.32);
                }
                display: inline-block;
                padding: 0.6rem;
                .element-title{
                    text-align: center;
                    padding-top: 0.6rem;
                }
            }
        }
    }
}

//Portfolio
.about-portfolio{
    .main-title2{
        padding-bottom: 2.5rem;
        text-align: center;
        h2{
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            span{
                color: #c19e78;
            }
            .bg-text{
                position: absolute;
                top: 50%;
                left: 50%;
                color: var(--color-grey5);
                transition: all .4s ease-in-out;
                z-index: -1;
                transform: translate(-50%, -50%);
                font-weight: 800px;
                font-size: 6.5rem;
            }
        }
    }
    .port-text{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        text-align: center;
    }
    .portfolios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-top: 3rem;
        .portfolio-item{
            position: relative;
            border: 3px solid #000;
            border-radius: 15px;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
            .hover-item{
                width: 100%;
                height: 100%;
                background-color: var(--color-secondary);
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                opacity: 0;
                transform: scale(0);
                transition: all .4s ease-in-out;
                h3{
                    font-size: 1.5rem;
                    padding-bottom: 0.5rem;
                    text-align: center;
                }
                .icons-used{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 2rem;
                    .icon-u{
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i{
                            font-size: 1.5rem;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                        }
                    } 
                }
                .icons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon{
                        background-color: #3e3026;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 1rem;
                        cursor: pointer;
                        transition: all .4s ease-in-out;
                        &:hover{
                            background-color: #fff;
                            i{
                                color: #3e3026;
                            }
                        }
                        i{
                            font-size: 1.5rem;
                            margin: 0 1rem;
                        }
                    } 
                }
            }
        }
    }
    .portfolio-item:hover .hover-item{
        opacity: 1;
        transform: scale(1);
    }
}

//Contact
.contact-container{
    .main-title2{
        padding-bottom: 2rem;
        text-align: center;
        h2{
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;
            span{
                color: #c19e78;
            }
            .bg-text{
                position: absolute;
                top: 50%;
                left: 50%;
                color: var(--color-grey5);
                transition: all .4s ease-in-out;
                z-index: -1;
                transform: translate(-50%, -50%);
                font-weight: 800px;
                font-size: 6.5rem;
            }
        }
    }
}
.contact-message{
    h3{
        text-align: center;
        padding: 1rem 0;
        font-size: 2rem;
    }
}
.contact-content-con{
    display: flex;
    padding-top: 3.5rem;
    .left-contact{
        border: 5px solid #785c47;
        border-radius: 20px;
        padding: 1.5rem;
        flex: 2;
        transition: all .4s ease-in-out;
        h4{
            margin-top: 1rem;
            font-size: 1.75rem;
            text-transform: uppercase;
            text-align: center;
            color: #c19e78;
        }
        p{
            margin: 1rem 0;
            line-height: 2rem;
        }
        .contact-info{
            margin-top: 2rem;
            .contact-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }
                .icon{
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .contact-icons{
            .contact-icon{
                display: flex;
                justify-content: center;
                margin-top: 3rem;
                a{
                    display: flex;
                    align-items: center;
                    color: var(--color-white);
                    background-color: var(--color-grey-5);
                    cursor: pointer;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin: 0 .4rem;
                    transition: all .4s ease-in-out;
                    &:hover{
                        background-color: #c19e78;
                        i{
                            color: var(--color-black);
                        }
                    }
                    i{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        &:hover{
            cursor: pointer;
            transform: translateY(-5px);
            border: 2px solid #785c47;
            background-color: #785c47;
            box-shadow: 1px 4px 15px rgba(0,0,0,.32);
        }
    }

    .right-contact{ 
        padding: 1.5rem;       
        flex: 3;
        margin-left: 3rem;
        h4{
            margin-top: 1rem;
            font-size: 1.25rem;
            // text-transform: uppercase;
        }
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey5);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn2{
            border: solid var(--color-secondary);
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25rem;
            font-weight: 700;
            display: flex;
            justify-content: flex-start;
            padding: 0.8rem;
            border-radius: 20px;
            transition: all .4s ease-in-out;
            background-color: var(--color-secondary);
            &:hover{
                cursor: pointer;
                transform: translateY(-5px);
                border: 2px solid #c19e78;
                background-color: #c19e78;
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            } 
        }
    }
}


// Independent Components
.btn-con{
    display: flex;
    align-self: flex-start;
}

.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex; 
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content:'';
        position: absolute;
        top:0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out; 
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
        }
    }
}

.main-title2{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: #c19e78;
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800px;
            font-size: 6.5rem;
        }
    }
}

@import './media';